body {
  background-color: #1e1e1e;
  color: #ffffff;
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #111;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #111;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.sidebar {
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.sidebar .flex-grow-1 {
  flex-grow: 1;
}

.main-content {
  margin-left: 80px;
  padding-bottom: 20px;
}

.sidebar .nav-link {
  color: #cfd8dc;
  padding: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
  transition: background-color 0.3s ease;
  border-radius: 8px; /* Added to make the buttons more square */
  margin: 5px 0; /* Added margin to separate the buttons */
}

.sidebar .nav-link:hover {
  background-color: #495057;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.sidebar .nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: #007bff;
  border-radius: 2px;
}

.sidebar .nav-link i {
  font-size: 24px;
}

.progress-bar {
  transition: width 0.5s ease;
}

.section {
  display: none;
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}

.section::-webkit-scrollbar {
  width: 12px;
}

.section::-webkit-scrollbar-track {
  background: #111;
}

.section::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #111;
}

.section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.section.active {
  display: block;
}

.card {
  background-color: #2c2c2c;
  border: none;
}

.card-title {
  color: #ffffff;
}

.card-body {
  color: #ffffff;
}

.text-success {
  color: #28a745 !important;
}

.bi-folder-fill {
  font-size: 1.2rem;
  color: #ffc107; /* Yellow color */
}

#action-buttons {
  flex-direction: column;
}

@media (min-width: 576px) {
  #action-buttons {
    flex-direction: row;
  }
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
